# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Editor-specific files
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
desktop.ini

# Log files
*.log

# Jupyter Notebooks Checkpoints (if you ever add .ipynb)
.ipynb_checkpoints/

# Python env files
*.env
.env/
